<% content_for :singular_repo do %>
	<div id="<%= repo_css_id(@repo) %>">

		<h2 class="title">
			<a href="#" class="add_tag btn success" style="float:right" rel="<%=@repo.full_name %>" title="<%= @repo.full_name %>">+/- tags</a>
			<%= @repo.full_name %>
		</h2>

		<div class="repo_outline boxy">

			<p style="font-weight:bold">
				<%= link_to @repo.html_url, @repo.html_url, :target => "_blank" %>
			</p>
			<p><%= @repo.description %></p>
			<ul>
				<li><strong>is fork?</strong>: <%= @repo.fork ? "yes" : "no" %></li>
				<li><strong>language</strong>: <%= @repo.language %></li>
				<li><strong>forks</strong>: <%= @repo.forks %></li>
				<li><strong>watchers</strong>: <%= @repo.watchers %></li>
			</ul>
		
			<h4>tagged by</h4>
			<div id="tagged_by_container" class="tagged_by_container">
				<% @repo.users.each do |user| %>
					<%= link_to (image_tag user.avatar_url, :class => "thumb"), user_path(user.login) %>
				<% end %>
			</div>
			
		</div>

		<h3>similar repos (currently just repos having 3 tags in common)</h3>	
	</div>
<% end %>

<% content_for :multiple_repos do %>
	<% if @similar_repos.blank? %>
		None yet =(
		<br/>Please tag some more repos!
	<% else %>
		<% @similar_repos.each do |repo| %>
			<%= render :partial => "repos/repo", :object => repo %>
		<% end %>
	<% end %>
<% end %>

<% content_for :side_content do %>
	<strong>Tags on <%= @repo.full_name %></strong>
	<ul class="tag_box">
		<% @tags.each do |tag| %>
			<li><%= link_to_tag(tag, repos_tagged_path(tag.name))%></li>
		<% end %>
	</ul>
<% end %>

<% content_for :scripts do %>
	App.bootSingle(<%= raw @data.to_json %>, <%= raw @tags.to_json %>)
<% end %>