<% content_for :filters do %>
	<%= link_to (image_tag(@owner.avatar_url)), user_path(@owner.login) %> 
	<div>
		<%= raw "user:#{@owner.login} + #{format_tags(@tag_filters)} &#9658;" if @tag_filters %>
	</div>
<% end %>

<% content_for :tag_header do %>
	<h4>Tags</h4> 
	 <strong><%= raw "user:#{@owner.login} &#9658;" %></strong>
<% end %>

<% content_for :side_content do %>
	<ul class="tag_box">
	<% @tags.each do |tag| %>
		<li><%= link_to_tag(tag, user_tagged_path(@owner.login, tag.name) )%></li>
	<% end %>
	</ul>
<% end %>

<% @repos.each do |repo| %>
	<%= render :partial => "repos/repo", :object => repo %>
<% end %>



