
<div id="left_pane">

	<div id="tag_container">
	<% 20.times do %>
		<% current_user.tags.each do |tag| %>
			<%= link_to tag, "#" %>
		<% end %>
	<% end %>
	</div>

</div>

<div id="right_pane">	
	<div id="repo-container">

	<% @user.watched.each do |repo| %>
		<div class="repo">
			<%= image_tag repo.owner.login["avatar_url"] %>
			<span class="name">
				<%= repo.owner.login["login"] %> / <%= link_to repo.name, repo.html_url  %>
			</span>
			
			<div class="meta">
				<span class="watchers-forks">&#9678; <%= repo.watchers %></span> | <span class="language"><%= repo.language %></span>
			</div>
			
			<p><%= repo.description %></p>
		</div>
	<% end %>

	</div>


</div>
	

