<% if current_user %>

<div id="left_pane">

	<div class="header">
		<h3>Tags</h3>
	</div>
	
	<div id="tag_container">

	</div>

</div>

<div id="right_pane">
	<div class="header">
		<h3>Repositories: #all</h3>
	</div>
	
	<div id="repo-container">

	<% current_user.api.watched.each do |repo| %>
		<div class="repo">
			<%= image_tag repo.owner.login["avatar_url"] %>
			<span class="name">
				<%= repo.owner.login["login"] %> / <%= link_to repo.name, repo.html_url  %>
			</span>
			
			<div class="meta">
				<span class="watchers-forks">&#9678; <%= repo.watchers %></span> | <span class="language"><%= repo.language %></span>
			</div>
			
			<p><%= repo.description %></p>
		</div>
	<% end %>

	</div>


</div>
	
<% end %>

