<!DOCTYPE html>
<html>
<head id="<%= current_user.login if current_user %>">
  <title>narly.us</title>
	<%= stylesheet_link_tag Rails.env.production? ? "/assets/application-a021fb3bf22c2b7b3217b2a2111e1b44.css" : "application" %>
	<script src="<%= require_js_url %>/require.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="status-bar">
    <div id="submitting" style="display:none"><strong>Submitting..</strong></div>
    <div class="responding" style="display:none">&#160;</div>
  </div>

	<div id="top">		
		<div id="user_nav">
			<div>
				<ul class="left">
					<li><a href="/" class="logo">narly.us | alpha</a></li>
				</ul>

				<ul class="right">
		  <% if current_user %>
				<li>signed in as: <%= link_to current_user.login, user_path(current_user.login), :class => "link" %></li>
				<li><%= link_to (image_tag current_user.avatar_url), user_path(current_user.login) %></li>
				<li><%= link_to "Sign Out", signout_path, :class => "btn" %></li>
		  <% else %>
		    <li><%= link_to "Sign in with Github", "/auth/github", :class => "signin btn" %></li>
		  <% end %>
				</ul>
			</div>
		</div>
	
		<div id="headers">
			<div id="filters_container">
				<div id="filters">
					
					<form action="/users" method="get">
						Tagged by 
						<%= (link_to (image_tag(@owner.avatar_url)), user_path(@owner.login)) if @owner %> 
						<input class="login" type="text" name="login" value="<%= @owner ? @owner.login : "*" %>" /> with:
						<p style="display:inline">
							<%= raw "#{format_tags(@tag_filters)} +" if @tag_filters %>
						</p>
						<input class="tag" type="text" name="tag" value="" />
						<button type="submit" style="visibility:hidden">&#160;</button>
					</form>
				</div>
			</div>

			<div id="tag_panel_container" style="display:none">
				
			<% if current_user %>
				<%= form_tag tag_path, :method => :get, :id => "tag_panel" do %>
					<input class="full_name" type="hidden" name="repo[full_name]" value="" />
					Tag <a class="btn repo_name"> </a> with <input id="tagging_input" type="text" name="tag" size="100" maxlength="100" /> 
					<button type ="submit" class="btn success">submit</button>
					<a href="#" class="btn danger tag_panel_close">x</a>
				<% end %>
				<div id="tag_panel_extended">
					<h5>Current Top Tags</h5>
					<ul id="add_tag_container" class="tag_box inline">

					</ul>
					<h5>Your Tags</h5>
					<ul id="my_tags_on_repo" class="tag_box inline">

					</ul>
					<div style="clear:both">&#160;</div>
				</div>
				
			<% else %>
				<div class="alert-message warning">
					<p>					
						<a class="btn danger tag_panel_close" href="#">x</a>
							You'll need to <%= link_to "Sign in with GitHub", "/auth/github", :class => "btn" %> to start adding tags.
					</p>
				</div>
			<% end %>
			</div>
			
			<div class="tag_header">
				<div><h4>Tags</h4></div>
			</div>
			
		</div>
	</div>
	<div id="top_spacer">&#160;</div>

	<div id="main_content_container">
		<div id="main_content">
		
			<div id="singular_repo" class="singular_repo">
				<%= yield :singular_repo %>
			</div>
			
			<div id="multiple_repos" class="multiple_repos">
				<%= yield :multiple_repos %>
			</div>
			
		</div>
	</div>

	<div id="side_content_container">
		<div id="side_content">
			<%= yield :side_content %>
		</div>
	</div>

	<div id="footer">
		<ul>
			<li><a href="/">home</a></li>
			<li><a href="/about">about</a></li>
			<li><a href="/stack">technology stack</a></li>
			<li><a href="http://github.com" target="_blank">github.com</a></li>
		</ul>
	</div>

	<%= render :template => "layouts/mustache_templates" %>
	
<script>
	// This is essently my main.js bootstrapping file.
	require.config({
		baseUrl: "<%= require_js_url %>",
	  paths: {
	    Underscore: 'libs/underscore/underscore',
	    Backbone: 'libs/backbone/backbone'
	  }
	});
	require([
		'order!jquery',
	  'order!libs/underscore/underscore-min',
	  'order!libs/backbone/backbone-0.5.3',
		'app',
	], function($,_,Backbone,App){
	  App.initialize(function(){
			App.mainRepo.currentUser.set({login : document.getElementsByTagName("head")[0].id});
			App.mainRepos.currentUser.set({login : document.getElementsByTagName("head")[0].id});
			App.mainRepos.tagFilters.reset(<%= raw @tag_filters.to_json %>, {silent : true});
			<%= yield :scripts %>
		});
	});
</script>

</body>
</html>
