<!DOCTYPE html>
<html>
<head rel="<%= current_user.login if current_user %>">
  <title>narly.us</title>
	<% if Rails.env.production? %>
		<%= stylesheet_link_tag "/assets/application-a520b44b9824ea5af73cb27bfdd9c451.css" %>
	<% else %>
		<%= stylesheet_link_tag "application" %>
	<% end %>
		<script blah-data-main="/assets/require-js/main.js" src="/assets/require-js/require-jquery.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="status-bar">
    <div id="submitting" style="display:none"><strong>Submitting..</strong></div>
    <div class="responding" style="display:none">&#160;</div>
  </div>

	<div id="top">		
		<div id="user_nav">
			<div>
				<ul class="left">
					<li><a href="/" class="logo">narly.us | alpha</a></li>
				</ul>

				<ul class="right">
		  <% if current_user %>
				<li>signed in as: <%= link_to current_user.login, user_path(current_user.login), :class => "link" %></li>
				<li><%= link_to (image_tag current_user.avatar_url), user_path(current_user.login) %></li>
				<li><%= link_to "Sign Out", signout_path, :class => "btn" %></li>
		  <% else %>
		    <li><%= link_to "Sign in with Github", "/auth/github", :class => "signin btn" %></li>
		  <% end %>
				</ul>
			</div>
		</div>
	
		<div id="headers">
			<div id="filters_container">
				<div id="filters">
					
					<form action="/users" method="get">
						Tagged by 
						<%= (link_to (image_tag(@owner.avatar_url)), user_path(@owner.login)) if @owner %> 
						<input class="login" type="text" name="login" value="<%= @owner ? @owner.login : "*" %>" /> with:
						<p style="display:inline">
							<%= raw "#{format_tags(@tag_filters)} +" if @tag_filters %>
						</p>
						<input class="tag" type="text" name="tag" value="" />
						<button type="submit" style="visibility:hidden">&#160;</button>
					</form>
				</div>
			</div>

			<div id="tag_panel_container" style="display:none">
				
			<% if current_user %>
				<%= form_tag tag_path, :method => :get, :id => "tag_panel" do %>
					<input class="full_name" type="hidden" name="repo[full_name]" value="" />
					Tag <a class="btn repo_name"> </a> with <input id="tagging_input" type="text" name="tag" size="100" maxlength="100" /> 
					<button type ="submit" class="btn success">submit</button>
					<a href="#" class="btn danger tag_panel_close">x</a>
				<% end %>
				<div id="tag_panel_extended">
					<h5>Current Top Tags</h5>
					<ul id="add_tag_container" class="tag_box inline">

					</ul>
					<h5>Your Tags</h5>
					<ul id="my_tags_on_repo" class="tag_box inline">

					</ul>
					<div style="clear:both">&#160;</div>
				</div>
				
			<% else %>
				<div class="alert-message warning">
					<p>					
						<a class="btn danger tag_panel_close" href="#">x</a>
							You'll need to <%= link_to "Sign in with GitHub", "/auth/github", :class => "btn" %> to start adding tags.
					</p>
				</div>
			<% end %>
			</div>
			
			<div class="tag_header">
				<div>
					<%= yield :tag_header %>
				</div>
			</div>
			
		</div>
	</div>
	<div id="top_spacer">&#160;</div>

	<div id="main_content_container">
		<div id="main_content">
			<%= yield %>
		</div>
	</div>

	<div id="side_content_container">
		<div id="side_content">
			<%= yield :side_content %>
		</div>
	</div>

	<div id="footer">
		<ul>
			<li><a href="/">home</a></li>
			<li><a href="/about">about</a></li>
			<li><a href="http://github.com" target="_blank">github.com</a></li>
		</ul>
	</div>
	
	<script id="tagTemplateRemove" type="text/x-jquery-tmpl">
			<span class="options">
				<a href="#" class="up btn danger" title="{{name}}">x</a>
			</span>
			<a href="#" class="tag" title="{{name}}">{{name}}</a>
	</script>

	<script id="tagTemplateAdd" type="text/x-jquery-tmpl">
			<span class="options">
				<a href="#" class="up btn success" title="{{name}}">+1</a>
			</span>
			<a href="#" class="tag" title="{{name}}">{{name}}</a>
	</script>

	<script id="repoTemplate" type="text/x-jquery-tmpl">
			<a href="#" class="add_tag btn" title="{{full_name}}">+/- tags</a>
			
			<a href="/users/{{login}}">
				<img src="{{owner.avatar_url}}" class="thumb" />
			</a>

			<span class="name">
				<a href="/repos/{{full_name}}" title="{{full_name}}">{{full_name}}</a>
			</span>

			<div class="meta">
				<span class="watchers-forks">watchers:  {{watchers}} </span> | <span class="language">{{language}}</span>
			</div>

			<div class="main">
				<p class="description" title="{{description}}">
					{{description}}
				</p>

				<ul class="tag_box inline">				

				{{#tags}}
					{{#name}}
						<span class="options">
							<a href="#" class="up btn success" title="{{name}}">+1</a>
						</span>
						<a href="#" class="tag" title="{{name}}">{{name}}</a>
					{{/name}}
				{{/tags}}
				</ul>

			</div>
	</script>

<script>
	require.config({
		baseUrl: "/assets/require-js",
	  paths: {
	    Underscore: 'libs/underscore/underscore',
	    Backbone: 'libs/backbone/backbone'
	  }

	});

	require([
		'order!jquery',
	  'order!libs/underscore/underscore-min',
	  'order!libs/backbone/backbone-0.5.3',
		'app',
	], function($,_,Backbone, App){
		console.log("Start");
		
		App.currentUser = new User({login : $("head").attr("rel")});
		
	// Setup Standard Views.
		App.mainRepoCollection = new App.collections.repoCollection;
		App.mainRepoCollection.currentUser = App.currentUser;
		App.mainRepoCollectionView = new App.views.repoCollectionView({collection : App.mainRepoCollection});
		
		
	// Setup the Tag Filters and the FilterView.
		var tags = new App.collections.tagCollection(<%= raw @tag_filters.to_json %>);
		tags.repos = App.mainRepoCollection;
		var fview = new App.views.filtersView({collection : tags });
					
	  App.initialize(function(){
			<%= yield :scripts %>
		});
	});
	
</script>

</body>
</html>
