<!DOCTYPE html>
<html>
<head>
  <title>Superwatch</title>
  <%= stylesheet_link_tag    "bootstrap-1.3.0.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<style type="text/css">
	body {
		background:#FAF9F8;
		
	}
	#top {
		position:fixed;
		width:100%;
		height:130px;
		background:#FFF;
		z-index:10;
	}
	#top_spacer {
		height:130px;
	}

	
	#user_nav {
		text-align:center;
		overflow:hidden;
		height:50px;
		border-bottom:1px solid #8BB1C8;
	}
	#user_nav img {
		float:left;
		width:40px;
		height:40px;
		padding:2px;
		margin:2px;
		border:1px solid #ccc;
	}
	
	
	#headers div.tag_header {
		float:left;
		width:30%;
	}
	#headers div.repo_header {
		float:left;
		width:70%;
		background:#FDE8B0;
		border-radius:0 0 5px 0;
	}
	
	div.repo_header .filters {
		font-weight:bold;
		position:relative;
	}
	
	div.repo_header .filters div {
		position:absolute;
		top:0;
		left:65px;
	}
	div.repo_header .filters span{
		padding:2px 8px;
		background:#57A957;
		border:1px solid #4C964D;
		border-radius:3px;
		color:#FFF;
		cursor:pointer;
	}
	div.repo_header .filters img{
		position:absolute;
		top:0;
		height:45px;
		width:45px;
		border:1px solid #B2A37C;
		background:#FDE8B0;
		padding:1px;
	}	
	#headers h3 {
		height:40px;
		line-height:40px;
		color:#C70808;
		padding:0 10px;
		background:#BED2D9;
	}
	
	#headers  div.repo_header div, #headers div.tag_header div {
		height:40px;
		line-height:40px;
		padding:0 10px;
	}
	
	
	
	
	#tag_pane {
		float:left;
		width:30%;
		height:100%;
		position:relative;
		background:#FFF;
	}
	
	#repo_pane {
		float:left;
		width:70%;
		position:relative;
	}
	

	#tag_container {
		clear:right;
		padding: 10px;
		overflow:hidden;
		margin-bottom:8px;
		height:100%;
	}
	
	#tag_container a {
		display: block;
		padding: 5px 10px;
		float: left;
		clear:left;
		background: #333;
		color: #EEE;
		border-radius: 3px;
		margin: 2px;
	}
	

	
	#repo-container {
		padding:10px;
		text-align:center;
		overflow:hidden;
	}

	.repo {
		float:left;
		height:150px;
		width:200px;
		overflow:hidden;
		padding:5px;
		margin:5px;
		border:1px solid #EEE9DE;
		background:#fff;
		text-align:left;
	}
	.repo img {
		float:left;
		width:40px;
		height:40px;
		padding:2px;
		margin:2px;
		margin-right:10px;
		border:1px solid #ccc;
	}
	.repo p {
		clear:both;
	}
	.repo .meta {

	}
	.repo .tags a{
		margin-right:4px;
		padding:2px 6px;
		background:#eee;
		border:1px solid #ddd;
		border-radius:2px;
		text-decoration:none;
	}
	#footer {
		clear:both;
	}
</style>
</head>
<body>


	<div id="top">
		<div id="user_nav">
		  <% if current_user %>
				<%= link_to (image_tag current_user.avatar_url), user_path(current_user.login) %>
		    Welcome, <%= link_to current_user.login, current_user.github_url %>!

				<%= link_to "Sign Out", signout_path %>
		  <% else %>
		    <%= link_to "Sign in with Github", "/auth/github" %>
		  <% end %>
		</div>
	
		<div id="headers">
		
			<div class="repo_header">
				<h3>Repositories</h3> 
				<div class="filters">
					<%= (image_tag(@owner.avatar_url)) %> 
					<div>
						<%= raw "user:#{@owner.login} + #{format_tags(@tag_filters)} &#9658;" %>
					</div>
				</div>
			</div>

			<div class="tag_header">
				<h3>Tags</h3> 
				<div>
					<strong><%= raw "user:#{@owner.login} &#9658;" if @owner %></strong>
					Sort by:
						<%= link_to "alpha", "#" %>
							<%= link_to "popular", "#" %>
				</div>
			</div>
		
		</div>
	
	</div>
	<div id="top_spacer">&#160;</div>

	<%= yield %>

	<div id="footer">
		&#160;
	</div>
	
</body>
</html>
